body {
  align-items: center;
  background-color: #eef0ff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 42px;
}

.form {
  display: grid;
  gap: 10px;
  justify-items: center;
}

.message {
  align-items: center;
  color: #006400;
  display: none;
  font-size: 5vh;
  font-weight: 500;
  justify-content: center;
  text-align: center;
}

.message__active {
  display: flex;
}

.message__active_error {
  display: flex;
  color: #ff0000;
  font-weight: 600;
}

button {
  background-color: #4865ff;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  text-align: center;
  width: 200px;
}

button:hover {
  cursor: pointer;
}

.input-id-sent {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  height: 34px;
  line-height: 14px;
  outline: none;
  padding: 7px 5px;
  width: 200px;
}

.qr-header {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  margin: 50px auto 10px;
  text-align: center;
}

.link {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.frame {
  height: 100vh;
  width: 100vw;
}

.linktext {
  margin-left: 20px;
  margin-right: 20px;
}
